<ion-content responsive-sm color="light" class="ion-padding">


  <ion-content responsive-sm color="light" class="ion-padding">
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>   </ion-title>
      <ion-buttons slot="end">
        <div  slot="end">
          <ion-item  class="border-header" color="grey">
          <ion-button  style="margin-top: 4%" [routerLink]="['/edit-profile']" > <ion-icon name="person"></ion-icon> </ion-button>
          <ion-button  style="margin-top: 4%" > <ion-icon name="notifications-outline"></ion-icon>  </ion-button>
          <ion-button  style="margin-top: 4%" [routerLink]="['/create-client']"> Créer un client <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon></ion-button>
          </ion-item>
        </div>
    </ion-buttons>  
    </ion-toolbar>
  
  <ion-list >


      <ion-row >
      <ion-col col-md-12 color="primary">
          <ion-searchbar type="text"  placeholder="Tâche, Nom, Prénom, Partenaire"debounce="200" (ionChange)="onChangeWord($event)"></ion-searchbar> 
      </ion-col>
      </ion-row>
      <ion-row responsive-sm color="primary">
 
        <ion-col col-12 col-md-2 color="primary">
          <ion-item>
            <ion-label position="stacked">Date de début </ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD"  [(ngModel)]="startdate"placeholder="Select Date" (ionChange)="onChangeDate()"></ion-datetime>
          </ion-item>
        </ion-col>
  
   
        <ion-col col-12 col-md-2 color="primary">
          <ion-item>
            <ion-label position="stacked">Date de fin </ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="enddate"placeholder="Select Date" (ionChange)="onChangeDate()"></ion-datetime>
          </ion-item>
        </ion-col>
      
          <ion-col col-12 col-md-3 >
            <ion-item>
              <ion-label position="stacked">Priorités</ion-label>
              <ion-select multiple="false" [(ngModel)]="priority" (ionChange)="onChangeWord($event)">
                <ion-select-option value="">Toutes</ion-select-option>
                <ion-select-option value="1">Priorité 1</ion-select-option>
                <ion-select-option value="2">Priorité 2</ion-select-option>
                <ion-select-option value="3">Priorité 3</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
    </ion-list>
        <ion-item-divider color="light">
          <ion-label>
            Nombre de résultats : <b>{{total}} </b> 
          </ion-label>
          <ion-label  slot="end">
            Page : <b>{{currentpage}} / {{last_page}}</b>
          </ion-label>

        </ion-item-divider>

      <ion-list>

 
      
      <ion-item *ngFor="let item of posts" >
        <ion-label  (click)="edit($event, item)" > 
          <ion-label color="dark" position="stacked"> <ion-icon name="albums"  slot="start"></ion-icon> {{item.accountLastName}} {{item.accountFirstName}}</ion-label>
          <div style="padding-top:5px;">  {{item.taskName}} </div>
        </ion-label> 
        <ion-label (click)="edit($event, item)">  
        <b>{{item.deadlineTask  | date: 'dd/MM/yyyy H:mm'}}</b>
        </ion-label> 
        <ion-label (click)="edit($event, item)"> 
   
                <ion-button  slot="end" *ngIf="item.priority==1" size="small" shape="round" color="light"> Priorité 1 </ion-button>
                <ion-button  slot="end" *ngIf="item.priority==2" size="small" shape="round" color="danger">  Priorité 2</ion-button>
                <ion-button  slot="end" *ngIf="item.priority==3" size="small" shape="round" color="success">  Priorité 3</ion-button>
        </ion-label> 

        <div class="item-note" slot="end">
         
          <ion-button ion-button outline item-end small color="success"(click)="delete($event, item)"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></ion-button>
        </div>
      </ion-item>
  

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement…">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>


</ion-list>
</ion-content>

