<ion-content responsive-sm color="light" class="ion-padding">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>   </ion-title>
    <ion-buttons slot="end">
      <div  slot="end">
        <ion-item  class="border-header" color="grey">
        <ion-button  style="margin-top: 4%" [routerLink]="['/edit-profile']" > <ion-icon name="person"></ion-icon> </ion-button>
        <ion-button  style="margin-top: 4%" > <ion-icon name="notifications-outline"></ion-icon>  </ion-button>
        <ion-button  style="margin-top: 4%" [routerLink]="['/create-client']"> Créer un client <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon></ion-button>
        </ion-item>
      </div>
  </ion-buttons>  
  </ion-toolbar>

  <ion-row >
      <ion-col sizeLg="8" sizeMd="8" sizeXs="12" >
        <ion-list lines="none"  >

        
          <ion-row >
            <ion-col sizeLg="4" sizeMd="4" sizeXs="12" >

              </ion-col>   

              <ion-col sizeLg="8" sizeMd="8" sizeXs="12" >    
             

              <h5> Créer une fiche porté </h5>


              <ion-segment  (ionChange)="segmentChanged($event)" [(ngModel)]="segType" scrollable value="info">
                <ion-segment-button value="info" layout="icon-start">
                  <ion-label>Info porté</ion-label>
                  <ion-icon name="person"></ion-icon>
                </ion-segment-button>
              

              </ion-segment>

              
              <ng-container [ngSwitch]="segType">
                <div *ngSwitchCase="'info'">

                  <ion-item *ngFor="let item of posts" >
                    <h5>   Infomations génerales</h5>      
                  </ion-item>  
                  

                  <ion-item >
                    <ion-label> 
                      <ion-item class="roundedInput">
                        <ion-label color="dark" position="stacked">Nom</ion-label>
                        <ion-input inputmode="text"[(ngModel)]="lastname" >  </ion-input>
                      </ion-item>
                      </ion-label> 
                      <ion-label> 
                        <ion-item class="roundedInput">
                          <ion-label color="dark" position="stacked">Prénom</ion-label>
                          <ion-input inputmode="text"[(ngModel)]="firstname">  </ion-input>
                        </ion-item>
                      </ion-label> 
                    </ion-item>


                    <ion-item >
                      <ion-label> 
                         <b>E-mail *</b> <br>
                        </ion-label> 
                        <ion-label> 
                          <ion-item class="roundedInput">
                            <ion-label color="dark" position="stacked">E-mail</ion-label>
                            <ion-input inputmode="email"[(ngModel)]="email">  </ion-input>
                          </ion-item>
                        </ion-label> 
                      </ion-item>

      
                <ion-item >
                  <ion-label> 
                     <b>Entreprise</b> <br>
                    </ion-label> 
                    <ion-label> 
                      <ion-item class="roundedInput">
                        <ion-label position="stacked">Portage</ion-label>
                        <ion-select multiple="false" [(ngModel)]="portagecompagny" value="{{portagecompagny}}">
                          <ion-select-option value="AUXIME">AUXIME</ion-select-option>
                          <ion-select-option value="COELIS">COELIS</ion-select-option>
                          <ion-select-option value="COELIS">ENVOYLS</ion-select-option>
                        </ion-select>
                      </ion-item>
          
                    </ion-label> 
                  </ion-item>


                  <ion-item >
                    <ion-label> 
                       <b>Mot de passe *</b> <br>
                      </ion-label> 
                      <ion-label> 
                        <ion-item class="roundedInput">
                          <ion-label color="dark" position="stacked">Mot de passe</ion-label>
                          <ion-input  type="password"  [(ngModel)]="password" ></ion-input>
                        </ion-item>
                      </ion-label> 
                    </ion-item>



          
                        <ion-item  >
                          <div class="item-note ion-padding" slot="end">
                            <ion-button color="danger" size="medium" (click)="editpage()" >Annuler </ion-button>
                            <ion-button color="success" size="medium" (click)="doSaveProfil()">Suivant</ion-button>
                          </div>
                      </ion-item>

                    </div>
          
              </ng-container>
            </ion-col>
        </ion-row>

       
      </ion-list>

        



</ion-col>
  


<ion-col sizeLg="4" sizeMd="4" sizeXs="12" >

</ion-col>
   
  
</ion-row>

</ion-content>